* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Seções */
section {
    padding: 50px 20px;
}

.home {
    background-color: #f4f4f4;
    text-align: center;
}

.sobre, .projetos, .contato, .linguagem {
    background-color: #fff;
}

.sobre {
    text-align: right;
    display: flex;
    gap: 20px;
}
  
  .texto {
    font-size: 1.2em;
    line-height: 1.5;
  }

  .imagem {
    max-width: 50%;
    height: auto;
  }

.projetos {
    display: flex;
    justify-content: space-around;
}

.projeto {
    background-color: #eaeaea;
    padding: 20px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

#logo {
    size: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    margin: 10px;
    padding: 10px;
    width: 80%;
    max-width: 500px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

@media (max-width: 768px) {
    .projetos {
        flex-direction: column;
        align-items: center;
    }
}